/* link for font styles */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* variables */


:root {
    --first-color: #FEA301;
    --second-color: #01ACFD;
}

/* universal styles */


* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}


/* header styles */


.header {
    padding: 2rem 2rem;
    background-color: #F7F7F7;
}

.navbar {
    gap: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-items1 {
    display: flex;
    align-items: center;


}

.nav-items1 img {
    width: 35%;
}

.nav-items1 h2 {
    font-size: 1.5rem;
}


.nav-items2 ul {
    display: flex;
    list-style: none;
}

.nav-items2 ul li a {
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
}


.nav-items3 .btn {
    padding: .8rem 3.5rem;
    background-color: var(--first-color);
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid var(--first-color);

}

.nav-items3 .btn:hover {
    background-color: transparent;
    color: var(--first-color);
    border: 3px solid var(--first-color);
}


.nav-items4 {
    display: none;
}

/* for makeing  header  responsive*/


@media screen and (max-width:800px) {


    .nav-items2 {
        display: none;
    }

.navbar{
    gap: 4rem;
}
    .nav-items3 {
        display: none;

    }


    .nav-items4 {
        display: flex;
    }

}

