/* link for font styles */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* variables */


:root {
    --first-color: #FEA301;
    --second-color: #01ACFD;
    --background-color: #F7F7F7;
}

/* universal styles */


* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", serif;
}


/* header styles */


.header {
    padding: 2rem 2rem;
    background-color: var(--background-color);
}

.navbar {
    gap: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-items1 {
    display: flex;
    align-items: center;


}

.nav-items1 img {
    width: 35%;
}

.nav-items1 h2 {
    font-size: 1.5rem;
}


.nav-items2 ul {
    display: flex;
    list-style: none;
}

.nav-items2 ul li a {
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
}


.nav-items3 .btn {
    padding: .5rem 3rem;
    background-color: var(--first-color);
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .7rem;
    border: 3px solid var(--first-color);

}

.nav-items3 .btn:hover {
    background-color: transparent;
    color: var(--first-color);
    border: 3px solid var(--first-color);
}


.nav-items4 {
    display: none;
}


/* banner section  */


.banner {
    padding: 2rem 4rem;
    background-color: var(--background-color);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.banner-items1 {
    width: 50%;
}

.banner-items1 h1 {
    font-size: 3rem;
}

.banner-items1 p {
    margin: 1.5rem 0;
    font-size: 1.05rem;
    line-height: 1.6rem;
}

.banner-items1 .different-btn {
    padding: .5rem 3rem;
    background-color: black;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .7rem;
    border: 3px solid black;
}

.banner-items1 .different-btn:hover {
    background-color: transparent;
    color: black;
    border: 3px solid black;
}

.banner-items2 {
    width: 48%;
}

.banner-items2 img {
    width: 100%;
}








/* curriculum section  */

.curriculum {
    padding: 2rem 3rem 2.7rem;
    background: url("assets/bg.png"), #F7F7F7;
    display: flex;
    background-position: center center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.curriculum a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.curriculum i {
    font-size: 2rem;
    font-weight: bolder;
    margin: 5rem .7rem 1rem;
    background-color: var(--first-color);
    border-radius: 60%;
    padding: 9px 15px;
}


.curriculum-container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
}


.curriculum-items1 {
    text-align: center;
    width: 30%;
    height: 370px;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1.3rem;

    box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);

}

.curriculum-items1 img {
    width: 40%;
}


.curriculum-items2 {
    text-align: center;
    width: 30%;
    height: 370px;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);

}

.curriculum-items2 img {
    width: 40%;

}


.curriculum-items3 {
    text-align: center;
    width: 30%;
    height: 420px;

    padding: 1.5rem .7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 28px 1px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);


}

.curriculum-items3 img {
    width: 40%;

}





/* stories section  */


.stories {
    background: url("assets/bg.png"), linear-gradient(0.00deg, rgba(254, 163, 1, .2) 0%, rgba(255, 255, 255, 1) 125%);
    background-size: contain;
    padding: 3rem 5rem;

}


.stories-container {
    display: grid;
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;

    grid-template-areas:
        "item1 item1 item2 item3"
        "item1 item1 item6 item7"
    ;
}

.stories .different-btn {
    padding: .5rem 3rem;
    background-color: black;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .7rem;
    border: 3px solid black;
}

.stories .different-btn:hover {
    background-color: transparent;
    color: black;
    border: 3px solid black;
}

.stories-items1 {
    grid-area: item1;
}

.stories-items2 {
    grid-area: item2;
}

.stories-items3 {
    grid-area: item3;
}

.stories-items4 {
    grid-area: item4;
}

.stories-items5 {
    grid-area: item5;
}

.stories-items6 {
    grid-area: item6;
}

.stories-items7 {
    grid-area: item7;
}


.stories-items-texts {
    padding: 0 1rem;
    display: flex;
    margin-top: -3.2rem;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.exceptional .stories-items-texts {
    padding: 0 2rem;
}

.stories-items-texts button {
    height: 3rem;
    width: 11rem;
    border-radius: 2rem;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: .9rem;
}

.stories-items-texts h2 {
    font-size: 1.6rem;
}

.stories-items-texts h3 {
    font-size: 1.1rem;
}

.stories-items-texts p {
    font-size: .8rem;
    line-height: 1.3rem;
    margin: 1rem 0;
}

.stories-item {
    background-color: white;
    display: flex;
    border-radius: 10px;
    height: auto;
    border: none;
    flex-direction: column;
    gap: 1.6rem;
}

.stories-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.stories-items4,
.stories-items5 {
    display: none;
}

/* footer  */

footer {
    margin-right: .5rem;
    padding: 7rem 1.5rem;
    color: white;
    background-color: #05d7db;
}


.footer-container {
    display: flex;
    gap: 5rem;

    align-items: flex-start;
    justify-content: space-evenly;
}


.footer-items1-flex {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}


.footer-items1 {
    flex: 2;
}

.footer-items2 {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    flex: 1;
}

.footer-items2 ul {
    list-style: none;
}

.footer-items2 ul li {
    margin: 1rem 0;

}

.footer-items2 ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
}


.footer-items3 {
    flex: 1;
}


.footer-items3 img {
    width: 18%;
    cursor: pointer;
}


/* I set the breakpoint on 865px because of making the fully responsive both for tablet and mobile in one media query*/


@media screen and (max-width:865px) {

    /* make header responsive */
    .header {
        padding: 2rem 1rem;
        border-bottom: 2px solid var(--first-color);
    }


    .nav-items2 {
        display: none;
    }

    .navbar {
        gap: 4rem;
    }

    .nav-items3 {
        display: none;

    }


    .nav-items4 {
        display: flex;

    }

    .nav-items4 i {
        font-size: 2.5rem;
    }


    /* making banner section responsive */

    .banner {
        margin-top: 1rem;
        padding: 2rem 1rem;
    }


    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
    }


    .banner-items1 {
        width: 100%;

    }


    .banner-items2 {
        width: 100%;
    }

    .banner-items2 h1 {
        text-align: center;

        font-size: 2.7rem;
        width: 98%;
    }

    .banner-items2 {
        width: 98%;
    }

    .banner-items2 {
        width: 98%;
    }


    /* making curriculum responsive  */


    .curriculum-container {
        flex-direction: column;
    }


    .curriculum-items1 {
        width: 100%;
        padding: 1.5rem .7rem;
        height: auto;
    }


    .curriculum-items2 {
        width: 100%;
        padding: 1.5rem .7rem;
        height: auto;
    }


    .curriculum-items3 {
        width: 100%;
        padding: 1.5rem .7rem;
        height: auto;
    }


    .curriculum i{
        display: none;
    }
    /* make stories responsive */


    .stories {
        padding: 3rem 1rem;
        width: auto;

    }

    .exceptional {
        display: none;
    }

    .stories-items4,
    .stories-items5 {
        display: grid;
    }


    .stories-container {
        display: grid;
        gap: 1rem;
        gap: .3rem;
        grid-template-areas:
            " item2 item3"
            " item4 item5"
            " item6 item7"
        ;

    }

    .stories-items-texts {
        padding: 0 .5rem;
        margin-top: -2.8rem;
    }

    .stories-items-texts button {
        height: 2rem;
        width: 7rem;
        font-size: .6rem;
    }

    /* make footer responsive */


    .footer-container {
        flex-direction: column;
        gap: 3rem;
    }

    .footer-items1-flex {
        justify-content: flex-start;
        margin-bottom: 2rem;
    }


    .footer-items2 {
        margin-left: 0;
    }


    footer {
        margin-right: 0;
        padding: 7rem 3rem;
    }
}